<!DOCTYPE html>
<html lang="en">
    {% include 'bootstrap_head.html' %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    {% include 'bootstrap_body.html' %}
    <div class="container" align="center">
        <p>
            Created by Chad Dienhart
            <img src="https://lh6.googleusercontent.com/-t3i3w0RMAW8/AAAAAAAAAAI/AAAAAAAAFOQ/iH2hsChWjCQ/photo.jpg"
                 style="float: none; margin-left: 5px; width: 32px; height: 32px;border-radius: 16px;
                 -webkit-border-radius: 16px;-moz-border-radius: 16px;">
        </p>
        <br>
        <p>Created for <a href="http://www.udacity.com">Udacity's</a> Full Stack Web Developer Project 3</p>
        <p>This project creates a working item catalog. Items contain a name, description, and an optional image.
            Items are added to a category by users who have been authenticated via OAuth with Google, Facebook, or
            GitHub. Items are stored in a SQLite database and the Item Catalog app supports all CRUD operations.</p>
        <p>You can find the source at <a href="https://github.com/chaddienhart/UdacityP3_ItemCatalog">GitHub.</a> </p>
    </div>
</body>
</html>
