<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrap_head.html' %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}">
</head>

  <body>

  {% include 'bootstrap_body.html' %}

    <div class="container">
  	<div class="row">
        <!--use bootstrap to create two side by side panels to contain the categories and recent items-->
        <div class="col-md-6 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom text-center"><h3>Categories</h3></div>
            <div class="panel-body">
                {% for c in categories %}
                <h3 class="text-center"><a href="{{url_for('viewCategory', category_id=c.id)}}">{{c.name}}</a></h3>
                {% endfor %}
            </div>
          </div>
      	</div>
        <div class="col-md-6 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom text-center"><h3>Recent items</h3></div>
            <div class="panel-body">
                <!--Iterate over the items in the recent list and use teh itemInList formating block-->
                {% for c in  items %}
                    {% set i = c %}
                    {% include 'itemInList.html' %}
                {% endfor %}
            </div>
          </div>
      	</div>
  	</div>
    </div>

</body></html>
