<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}">
</head>

<body class=pane>

<h1 class=header>{{item.name}}</h1>
<div>
    <p>{{item.description}}</p>
    <H2><a href="{{url_for('editItem', user_id=user_id, item_id=item.id)}}">Edit</a> </H2>
    <H2><a href="{{url_for('deleteItem', user_id=user_id, item_id=item.id, item_name=item.name)}}">Delete</a> </H2>
</div>
<!-- need a way to get back to the category and back to home... -->
</body>

</html>
