<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrap_head.html' %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}">
    <!--Include all the callback javascript functions-->
    {% include 'signin.html' %}
</head>

<body style="padding-top: 10%;">
<div class="container-full v-center">
    <div class="row">
        <div class="col-lg-12 text-center v-center">
            <div id="signintext">
                <H2>Sign in with one of the following</H2>
            </div>
            <br>
            <!--Google plus sign in button-->
            <div id="gSigninButton">
                <span class="g-signin"
                      data-scope="openid email"
                      data-clientid="432928170746-6k4t88dlida5etqsamv7laml5ugis4md.apps.googleusercontent.com"
                      data-redirecturi="postmessage"
                      data-accesstype="offline"
                      data-cookiepolicy="single_host_origin"
                      data-callback="signInCallback"
                      data-approvalprompt="force">
                </span>
            </div>
            <br>

            <!--Login with Facebook button-->
            <div id="fbSigninButton">
            <!--<div id="fb-root" > console shows a warning that this div has not been created, but if it is the
            button is shifted left. tried lots of css to move it over again but no luck-->
                <span>
                    <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
                        <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
                    </fb:login-button>
                </span>
            <!--</div>-->
            </div>
            <br>

            <!--Login with Github button-->
            <div id="ghubSigninButton">
                <div class="github_button btn">
                    <img class="img-responsive" style="max-width:32px; margin-right: 5px;"
                            src="{{ url_for('static', filename = 'Octocat-Light-32px.png') }}"
                            alt="Home" height="16" width="16">
                     <a href="javascript:githubAuth()">
                    Login with GitHub</a>
                </div>
            </div>
            <div id="result"></div>
        </div>
    </div>
</div>

<!--Move the google sign in script loading to the end of the page to avoid -->
<!--false positive of cookiepolicy required error-->
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>

</body>

</html>
