<!DOCTYPE html>
<html lang="en">
    {% include 'bootstrap_head.html' %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
  <!--Put the nav bar on top-->
  {% include 'bootstrap_body.html' %}

  <div class="container">
      <div class="row">
            <div class="col-md-8 col-sm-6">
                <h1 class=header>{{user.name}}'s Items</h1>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3><a class="pull-left additem" href="{{ url_for('newItem', category_id=1) }}">Add new item</a> </h3>
            </div>
      </div>
      {% for i in items %}
        {% include 'itemInList.html' %}
      {% endfor %}
  </div><!-- /.container -->


</body>
</html>
